.container {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 30px;
  }
  
  .restart_button {
    border: none;
    color: white;
    font-size: larger;
    padding: 10px 15px;
    background-color: #BD312E;
    cursor: pointer;
    border-radius: 5px;
  }